*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
background-color: azure;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  padding: 5px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.product-card:hover{
  cursor: pointer;
  border:2px solid rgba(255, 51, 0, 0.301);
}

.product-card h3 {
  font-size: 20px;
  margin-top: 0;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 8px;
}

.stock {
  font-weight: bold;
}

.stock.low-stock {
  color: red;
}
