.app {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
  padding: 5px;
  width: 40px;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.seat-container {
  display: grid;
  grid-template-rows: repeat(7, 30px);
  grid-auto-columns: 30px;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}

.seat {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.seat.selected {
  background-color: #4caf50;
  color: #fff;
}

.seat-info {
  margin-top: 20px;
}
